body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007bff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}


main h1 {
    color: #333;
}

main p {
    line-height: 1.6;
}

section#research {
    margin-top: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
main img {
    width: 80%; /* This will make the image stretch to fill the container */
    height: auto; /* This will maintain the aspect ratio */
    margin: 20px auto;  
    display: block; /* This will remove any extra space below the image that inline elements have */
}
.separator {
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}
.contact-section {
    background-color: #f1f1f1; /* 背景颜色，您可以按需修改 */
    padding: 20px; /* 内边距，您可以按需修改 */
    text-align: center; /* 文本居中 */
}

.contact-section h2 {
    margin: 0 0 10px 0; /* 为标题提供一些底部外边距 */
    font-size: 1.5rem; /* 字体大小，您可以按需修改 */
}

.contact-section p {
    margin: 5px 0; /* 段落之间的间距 */
    font-size: 1rem; /* 字体大小，您可以按需修改 */
    color: #333; /* 字体颜色，您可以按需修改 */
}
